{% extends "app_coder/parent.html" %}

{% load static %}

{% block head %}<title>Clientes</title>{% endblock head %}

{% block blockchanges %}

    <div class="justify-content-center">

        <h3>Podes buscar un cliente:</h3>

        <form action="" method="POST">

            {% csrf_token %}

            <input type="text" id="name" name="name">
        
            <ul>

                {% for name in formulario %}

                <li> {{cliente.name}} </li>
                <li> {{cliente.description}} </li>

                {% endfor %}

            </ul>
                
            <input type="submit" value="Buscar"/>
        </form>
    </div>
    
{% endblock %}